<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>CECATI 86 &mdash; Capacitate para el empleo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="site-logo mr-auto w-25">
          <a href="index.html">
            <img src="img/logo-cecati.png" alt="Logo CECATI 86" style="max-width: 40%;">
          </a>
        </div>

        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25">
            <a href="index.html">CECATI 86</a>
          </div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Nosotros</a></li>
                <li><a href="#courses-section" class="nav-link">Cursos</a></li>
                <li><a href="#programs-section" class="nav-link">Noticias</a></li>
                <li><a href="#teachers-section" class="nav-link">Ubicación</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul sec:authorize="isAuthenticated()"
                class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a th:href="@{/logout}" class="nav-link"><span>Cerrar Sesión</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>

    </header>

    <div class="intro-section" id="home-section">



      <div class="slide-1" style="background-image: url('img/hero_1.jpg');" data-stellar-background-ratio="2.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <div sec:authorize="isAuthenticated()">
                    <div class="alert alert-info">Bienvenido, <span sec:authentication="principal.username"></span>!
                    </div>
                  </div>
                  <h1 data-aos="fade-up" data-aos-delay="100">Capacítate para el empleo de tus sueños, empieza hoy</h1>
                  <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Misión: Otorgar a los particulares el
                    reconocimiento de validez oficial de estudios, contribuyendo al fomento de la calidad y
                    productividad empresarial, la incorporación al mercado laboral y el desarrollo de la vocación
                    empresarial</p>


                </div>




                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                  <form sec:authorize="!isAuthenticated()" th:action="@{/registration}" method="post"
                    th:object="${user}" class="form-box">
                    <!-- success message -->
                    <div th:if="${param.success}">
                      <div class="alert alert-info">Registro exitoso</div>
                    </div>

                    <!-- logout message -->
                    <div th:if="${param.logout}">
                      <div class="alert alert-info">¡Hasta luego!</div>
                    </div>

                    <div th:if="${param.different}" id="error-passwords">
                      <div class="alert alert-danger">¡Las contraseñas son diferentes!</div>
                    </div>


                    <div th:if="${#fields.hasErrors('birthdate')}" id="error-birthdate" class="alert alert-danger">
                      <span th:errors="*{birthdate}"></span>
                    </div>
                    <!--names-->
                    <div th:if="${#fields.hasErrors('names')}" id="error-names" class="alert alert-danger">
                      <span th:errors="*{names}"></span>
                    </div>
                    <!--surnames-->
                    <div th:if="${#fields.hasErrors('surnames')}" id="error-surnames" class="alert alert-danger">
                      <span th:errors="*{surnames}"></span>
                    </div>

                    <!--phone number-->
                    <div th:if="${#fields.hasErrors('phoneNumber')}" id="error-phone" class="alert alert-danger">
                      <span th:errors="*{phoneNumber}"></span>
                    </div>
                    <!--Password-->
                    <div th:if="${#fields.hasErrors('password')}" id="error-invalid-password"
                      class="alert alert-danger">
                      <span th:errors="*{password}"></span>
                    </div>
                    <!--email-->
                    <div th:if="${#fields.hasErrors('email')}" id="error-email" class="alert alert-danger">
                      <span th:errors="*{email}"></span>
                    </div>

                    <script>
                      document.addEventListener("DOMContentLoaded", function () {
                        setTimeout(function () {
                          const errorNames = document.getElementById('error-names');
                          const errorSurNames = document.getElementById('error-surnames');
                          const errorEmail = document.getElementById('error-email');
                          const errorPhone = document.getElementById('error-phone');
                          const errorBirthdate = document.getElementById('error-birthdate');
                          const errorPasswords = document.getElementById('error-passwords');
                          const errorWeakPassword = document.getElementById('error-invalid-password');

                          //error-invalid-password

                          if (errorNames) errorNames.style.display = 'none';
                          if (errorSurNames) errorSurNames.style.display = 'none';
                          if (errorEmail) errorEmail.style.display = 'none';
                          if (errorPhone) errorPhone.style.display = 'none';
                          if (errorBirthdate) errorBirthdate.style.display = 'none';
                          if (errorPasswords) errorPasswords.style.display = 'none';
                          if (errorWeakPassword) errorWeakPassword.style.display = 'none';


                        }, 5000);
                      });
                    </script>

                    <h3 class="h4 text-black mb-4">Rgistrarse</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" th:field="*{names}" placeholder="Nombres" required
                        autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control" th:field="*{surnames}" placeholder="Apellidos" required
                        autofocus="autofocus">
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" th:field="*{phoneNumber}" placeholder="Teléfono" required
                        autofocus="autofocus">
                    </div>

                    <div class="form-group">
                      <input type="date" class="form-control" th:field="*{birthdate}" placeholder="Fecha de nacimiento"
                        required autofocus="autofocus">
                    </div>


                    <div class="form-group">
                      <input type="text" class="form-control" th:field="*{email}" placeholder="Correo electrónico"
                        required autofocus="autofocus">
                    </div>


                    <div class="form-group">
                      <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required
                        autofocus="autofocus">
                    </div>
                    <div class="form-group mb-4">
                      <input type="password" class="form-control" th:field="*{repeatedPassword}"
                        placeholder="Re-type Password" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-pill" value="Registrarse">
                    </div>



                    <div class="form-group"></div>
                    <span>¿Ya tienes una cuenta? <a href="/" th:href="@{/login}">Inicia sesión aquí</a></span>
                </div>
                </form>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="site-section courses-title" id="courses-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
          <h2 class="section-title">Oferta educativa</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
      <div class="row">

        <div class="owl-carousel col-12 nonloop-block-14">

          <div class="course bg-white h-100 align-self-stretch" th:each="course : ${courses}">
            <figure class="m-0">
              <a href="course-single.html">
                <img th:src="@{${course.imagePath}}" alt="Course Image" class="img-fluid">
              </a>
            </figure>
            <div class="course-inner-text py-4 px-4">
              <span class="course-price" th:text="'$' + ${course.cost}"></span>
              <div class="meta">
                <span class="icon-clock-o"></span>
                <span th:text="${course.durationHours} + ' hours'"></span>
              </div>
              <h3><a href="#" th:text="${course.courseName}"></a></h3>
              <p th:text="${course.description}"></p>
            </div>
            <div class="d-flex border-top stats">
              <div class="py-3 px-4"><span class="icon-users"></span> Students</div>
              <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> Comments</div>
            </div>
          </div>

        </div>



      </div>
      <div class="row justify-content-center">
        <div class="col-7 text-center">
          <button class="customPrevBtn btn btn-primary m-1">Prev</button>
          <button class="customNextBtn btn btn-primary m-1">Next</button>
        </div>
      </div>
    </div>
  </div>
















  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>


  <script src="js/main.js"></script>

</body>

</html>